<form method="post" action="{{ path('app_user_campaign_delete', {'id': user_campaign.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette entité ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_campaign.id) }}">
    <button class="btn btn-secondary">Supprimer</button>
</form>
