<div class="alert alert-info">
    <b>Liste des variables disponibles à insérer dans la template</b> :<br />
    <ul>
        <li>%company%</li>
        <li>%activity%</li>
        <li>%address%</li>
        <li>%postalCode%</li>
        <li>%city%</li>
        <li>%phone%</li>
        <li>%mobile%</li>
        <li>%email%</li>
        <li>%rappel%</li>
        <li>%rendezvous%</li>
    </ul>
</div>