{% extends 'base.html.twig' %}

{% block title %}Editr campagne{% endblock %}

{% block body %}
    <h1>Editer campagne</h1>

    {{ include('campaign/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <br />

    {{ include('campaign/_delete_form.html.twig') }}

   <br /> <a href="{{ path('app_campaign_index') }}">back to list</a>

{% endblock %}
