<form method="post" action="{{ path('app_prospect_delete', {'id': prospect.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette donnée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prospect.id) }}">
    <button class="btn btn-secondary">Supprimer</button>
</form>
