{% extends 'base.html.twig' %}

{% block title %}New Prospect{% endblock %}

{% block body %}
    <h1>Créer nouveau prospect</h1>

    {{ include('prospect/_form.html.twig') }}

    <br />
    <a href="{{ path('app_prospect_index') }}">retourner à la liste</a>
{% endblock %}
