{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer nouvel utulisateur</h1>

    {{ include('user/_form.html.twig') }}

    <br />
    <a href="{{ path('app_user_index') }}">retourner à la liste</a>
{% endblock %}
