{% extends 'base.html.twig' %}

{% block title %}Reinitialisation mot de passe utilisateur{% endblock %}

{% block body %}
    <h1>Reinitialisation mot de passe utilisateur</h1>

    <p>La demande de réinitialisation de mot de passe a bien été transmise.</p>
    <br />
    <a href="{{ path('app_user_index') }}">retourner à la liste</a>

{% endblock %}